{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center my-3">Register</h1>
            <form action="{% url 'todolist:register' %}" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" maxlength="20" required>                    
                </div>

                <div class="mb-3">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" maxlength="20" required>                    
                </div>

                <div class="mb-3">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" maxlength="20" required>                    
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" maxlength="20" required>                    
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" maxlength="20" required>                    
                </div>

                <div class="mb-3">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" maxlength="20" required>                    
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="Register">
                </div>
				{% if error == True %}
               		<p class="text-danger">{{ message }}</p>
            	{% endif %} 
            </form>
        </div>
    </div>
</div>

{% endblock %}
